# Environment
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Airflow
airflow/logs/
airflow/.airflow/

# dbt
dbt/target/
dbt/logs/
dbt/dbt_packages/

# Great Expectations
great_expectations/uncommitted/

# Data
data/raw/*
data/*.csv
data/*.parquet

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
